html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.gallery-item {
    padding: 0 !important;
}
.gallery-item.resized img {
    border: solid 1px red;
}

.gallery-item img {
    border: solid 1px black;
}
